.feedbacks{
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 500px;
    margin-right: 100px;
}
.message{
    height: 300px;
}
.feedbacks input {
    width: 320px;
    height: 45px;
    border: none;
    border-radius: 10px;
    font-family: "texta", serif;
    font-size: 1.2rem;
    padding-left: 10px;
    margin-top: 30px;
}
.feedbacks h1{
    font-size: 2.4vw;
}
.svg img{
    width: 400px;
}
.fox{
    display: flex;
    justify-content: center;
    align-items: center;
}
.feedbacks button{
    font-family: "texta", serif;
    background-color: #F2F2F2;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 7px 10px;
    margin-left: 10%;
    margin-top: 5%;
    cursor: pointer;
    font-size: 1.4vw;
}