@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@font-face {
  font-family: lufga;
  src: url(../../public/assets/Lufga-Medium.otf);
}

@font-face {
  font-family: willywonka;
  src: url(../../public/assets/WillyWonka.ttf);
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #537E62;
  /* background-image: url(../../public/assets/bg.png); */
}

h1,h2,h3,h4{
  font-family: "lufga";
}

.flexbox{
  display: flex;
}

.split{
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden;
  padding: 15px 30px;
  padding-top: 20px;
}

.container{
  width: 78%;
  padding-left: 3%;
}

.box{
  background-color: white;
  border-radius: 12px;
  padding: 12px 15px;
}
.weather{
  margin-top: 5%;
  border: none;
  border-radius: 10px;
  max-width: 95%;
  max-height: 60%;
}
button{
  background-color: white;
}