.stock{
    width: 90%;
    max-height: 77vh;
    margin-top: 3%;
    overflow-y: auto;
}
.stock h1{
    color: #7D0000;
    font-size: 2.5vw;
    margin-bottom: 0;
}

.stock table{
    width: 90%;
    text-align: left;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0 15px;
}
.stock th{
    text-decoration: underline;
    color: rgba(125, 0, 0, 0.8);
    font-size: 1.1vw;
    padding-left: 15px;
}

.task-row{
    font-weight: bold;
    font-size: 1.14vw;
    background-color: #EFEFEF;
}
.task-row td{
    padding: 15px;
}